<div class="panel panel-info">
	<form class="form-horizontal">
	<fieldset>
	<legend>Contactenos</legend>
	<div class="form-group">
	  <label for="inputEmail" class="col-lg-2 control-label">Email</label>
	  <div class="col-lg-10">
	    <input type="text" class="form-control" id="inputEmail" placeholder="Email">
	  </div>
	</div>
	<div class="form-group">
	  <label for="textArea" class="col-lg-2 control-label">Consulta</label>
	  <div class="col-lg-10">
	    <textarea class="form-control" rows="3" id="textArea"></textarea>
	    <span class="help-block">Escriba su mensaje y le contestaremos lo antes posible</span>
	  </div>
	</div>
	<div class="form-group">
	  <div class="col-lg-10 col-lg-offset-2">
	    <button class="btn btn-default">Cancelar</button>
	    <button type="submit" class="btn btn-primary">Enviar</button>
	  </div>
	</div>
	</fieldset>
	</form>
</div>