<div class="jumbotron">
  <h1>{{company.name}}</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    {{company.description}}
  </p>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Opening hours:</h3>
    </div>
    <p>{{company.openingHours[0]}}</p>
    <p>{{company.openingHours[1]}}</p>
    </div>
    <p><a class="btn btn-lg btn-success" ng-href="#">Abierto</a></p>
    <p><a class="btn btn-lg btn-danger" ng-href="#">Cerrado</a></p>
  </div>
</div>

<div class="row marketing">
  <h4>Activities</h4>
  <p>
   {{company.activities}}
  </p>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Maps</h3>
  </div>
  <div id="map-canvas" style="height:400px; width:100%" class="panel-body"></div>
</div>

<blockquote>
  <p>La mejor tienda de deportes de toda Sevilla.</p>
  <small>Miguel Espoinosa <cite title="Source Title">Source Title</cite></small>
</blockquote>
</div>