<ul class="pagination">
  <li class="disabled"><a href="#">«</a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">»</a></li>
</ul>


<div class="jumbotron">
  <h1>{{company.name}}</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    {{company.description}}
  </p>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Opening hours:</h3>
    </div>
    <p>{{company.openingHours[0]}}</p>
    <p>{{company.openingHours[1]}}</p>
    </div>
    <is-opened></is-opened>
  </div>
</div>

<div class="row marketing">
  <h4>Activities</h4>
  <p>
   {{company.activities}}
  </p>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Maps</h3>
  </div>
  <div id="map-canvas" style="height:400px; width:100%" class="panel-body"></div>
</div>

<blockquote>
  <p>La mejor tienda de deportes de toda Sevilla.</p>
  <small>Miguel Espoinosa <cite title="Source Title">Source Title</cite></small>
</blockquote>
</div>